*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: peru;
    justify-content: center;
}

.calculator {
    background: #555;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 1px dashed #fff;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.calculator form input:hover {
    background: #7d7b7b;
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.display input {
    text-align: right;
    flex: 1;
    font-size: 3rem;
    border: none !important;
}

form input.equal {
    width: 145px;
    font-size: 25px;
    font-weight: 600;
}

h1 {
    background: peru;
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}